
.globalContainer {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 2;	
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: #333;
}

.cardContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 5px;
	padding: 1.5rem;
	animation-name: appear;
	animation-duration: 1s;
	
}
@keyframes appear {
	0% {
		opacity: 0;
		transform: translate(-50%, -70%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
.upCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font);

	h1{
		
		margin: 1rem auto;
	}

	 button {
		 border: none;
		 border-radius: 10px;
		 font-size: 1rem;
		 transition: all .5s ease;
		 height: 1.4rem;
		 
		 
	 }
	 button:hover {
		 background-color: crimson;
	 }

	 
}
.formItem {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	width: 20rem;
	height: 3.5rem;

	label {
		font-size: .8rem;
		font-family: var(--font);
		color: #333;
	}
	input {
		height: 2rem;
		border-radius: 3px;
		border: 1px solid #333;
		outline: none;
		
	}
}
.btnSubmit {
	font-family: var(--font);
	font-size: 1.5rem;
	padding: 1rem;
	background-color: rgb(84 105 212);
	border: none;
	border-radius: 4px;
	color: rgb(255, 255, 255) ;
	width: 100%;
	
}

.validation {
	color: red;
}